SENTRY_DSN=
PERM_HOST=
PERM_BUCKET=
PERM_REGION=
PERM_SECRET_ID=
PERM_SECRET_KEY=

TEMP_HOST=
TEMP_BUCKET=
TEMP_REGION=
TEMP_SECRET_ID=
TEMP_SECRET_KEY=

DB_NAME=
MONGO_URI=

SOCIAL_HOST=

PUBLIC_API_TOKEN=
PUBLIC_API_HOST=